/* 
@media screen and (max-width: 400px) and (max-width: 800px) {
  .some-box {
    background-color: green;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(209, 204, 204);
}
main {
  background-color: blanchedalmond;
  width: 100%;
}
nav {
  width: 100vw;
  height: 5vh;
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (min-width: 1200px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
  nav {
    background-color: yellow;
  }
}
.kocka {
  border-style: solid;
  margin: 0px;
  position: relative;
  background-color: white;
  width: 500px;
  height: 500px;
  margin-left: 100px;
}
.kocka2 {
  border-style: solid;
  border-bottom: 10px solid black;
  border-left: 0px solid black;
  border-top: 0px;
  border-right: 0px;
  background-color: red;
  float: right;
  width: 70%;
  height: 70%;
}
.bela-kocka {
  border-style: solid;
  border-bottom: 10px solid black;
  border-left: 0px;
  border-top: 0px;
  border-right: 10px solid black;
  width: 30%;
  height: 35%;
  background-color: white;
  float: left;
}
.bela-kocka2 {
  border-style: solid;
  border-bottom: 10px solid black;
  border-left: 0px;
  border-top: 0px;
  border-right: 10px solid black;
  width: 30%;
  height: 35%;
  background-color: white;
  float: left;
}
.plava-kocka {
  border-style: solid;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 10px solid black;
  width: 30%;
  height: 30%;
  background-color: blue;
  float: left;
}
.bela-kocka3 {
  border-style: solid;
  border-bottom: 0px;
  border-left: 10px solid black;
  border-top: 0px;
  border-right: 0px;
  width: 5%;
  height: 30%;
  background-color: yellow;
  float: right;
}
.bela-kocka4{
  border-style: solid;
  border-bottom: 10px solid black;
  border-left: 0px solid black;
  border-top: 0px;
  border-right: 0px;
  width: 100%;
  height: 50%;
  background-color: white;
  float: right;
}


