* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
form {
  margin-bottom: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
select,
button {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #03011d;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #929292;
}
