* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #000000cc;
  width: 100vw;
  height: 5vh;
  position: fixed;
  top: 0;
  left: 0;
}
main {
  position: relative;
  top: 5vh;
  left: 0;
}
.position-static{
    /* this is the deafult document flow */
    position: static;
}
.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(47, 95, 47);
  width: 600px;
}
.position-sticky {
  position: sticky;
  top: 5vh;
  background-color: yellow;
}
.back-to-top-button {
  position: fixed;
  bottom: 25px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(160, 220, 255);
  padding: 3px;
  text-decoration: none;
  cursor: crosshair;
}
a:hover {
  background-color: red;
  transition: 1s ease-in;
}
