*{
    box-sizing: border-box;
    margin: 2px 20px 10px 20px;
    background-color: red;
    
}


a{
    transition: 1s ease-in;
    transform: 1s;
    font-size: 100%;
}
a:link{
    color: green;
    text-decoration: none;
}
a:visited{
    color: blue;
}
a:active{
    color: red;
}
a:focus{
    color: aqua;
    outline-color: green;
    background-color: black;
}
a:hover{
    color: chartreuse;
    font-size: larger;
    
}
