* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  background-color: red;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
.box:hover {
  transform: translate(-50%, -50%) rotatez(360deg) ;
} */
.hover-dropdown {
  position: absolute;
  top: 10%;
  left: 50%;
  font-size: 25px;
  background-color: black;
  color: aliceblue;
  padding: 30px;
  letter-spacing: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  transform: translate(-50%, 0);
  font-family: Arial, Helvetica, sans-serif;
  height: 80px;
  transition: all 1s;
  overflow: hidden;
}
.header-dropdown {
  height: 70px;
}
.hover-dropdown:hover {
  height: 400px;
  transition: all 0.3s;
}
.dropdown-container {
  border-top: 3px solid white;
  width: 100%;
  padding: 10px;
}
.container-element {
  letter-spacing: initial;
  text-decoration: none;
  text-transform: none;
  color: whitesmoke;
  margin-bottom: 15px;
  padding-top: 10px;
}
a {
  text-decoration: none;
  color: white;
}
